/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #00356B;
  color: black;
}

.input-component,
.instructions-component {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-component input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.input-component button,
.instructions-component button {
  background-color: #00356B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.input-component button:hover,
.instructions-component button:hover {
  background-color: #00356B;
}
