/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #00356B;
  color: black;
}

.component-input,
.component-instructions{
  width: 800px;
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.component-input input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.component-input button,
.component-instructions button {
  background-color: #00356B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px; /* Ensures buttons are at least this wide */
  margin-right: 10px; /* Adds space to the right of each button */
}

.component-input button:hover,
.component-instructions button:hover {
  background-color: #00356B;
}

.component-sorting {
  width: 1250px;
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.component-sorting .instructions {
  margin-bottom: 20px;
}

.component-sorting .dimension-container {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component-sorting .dimension-value {
  font-weight: bold;
}

.component-sorting .dimension-arrow {
  flex-grow: 1;
  height: 2px;
  background-color: #000;
  position: relative;
  margin: 0 10px; /* Adding margin to make space for dimension labels */
}

.component-sorting .dimension-arrow::before,
.component-sorting .dimension-arrow::after {
  content: '';
  position: absolute;
  width: 0;
  border: 10px solid transparent; /* Increasing border size for larger arrows */
  top: -9px; /* Adjusting the top position for the larger arrows */
}

.component-sorting .dimension-arrow::before {
  left: -12px; /* Adjusting the left positioning for larger arrows */
  border-right-color: #000;
}

.component-sorting .dimension-arrow::after {
  right: -12px; /* Adjusting the right positioning for larger arrows */
  border-left-color: #000;
}

.component-sorting .dimension-value-left {
  left: -50px; /* Adjusting left positioning to move label to the side */
}

.component-sorting .dimension-value-right {
  right: -50px; /* Adjusting right positioning to move label to the side */
}

.component-sorting .sorting-area {
  width: 1000px;
  margin: auto;
  border: 1px solid #ccc;
  height: 400px; /* You can adjust this */
  position: relative;
}

.component-sorting .word-boxes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.component-sorting .draggable-word-box {
  background-color: #00356B; /* Blue background */
  color: #fff; /* White text */
  border: none;
  padding: 8px;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px; /* Rounded borders */
  transition: background-color 0.3s ease; /* Optional transition effect */
}

.component-sorting .draggable-word-box:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


